*
{
 margin:0;
 padding: 0;
 font-family:sans-serif
}

.Logo
{
    text-align: left;
    text-decoration:none;
    text-shadow:100cap;
    display:flex;
}
nav
{
 display: flex;
 width:50;
 align-items: center;
 justify-content: space-between;
 color: white;
 position: absolute;
 top:0;
 left:0px;
 right:50px;
}
nav ul
{
    display: flex;
    justify-content: space-between;

}
nav ul li
{
    list-style: none;
    display:inline-block;
    margin:0 20px;
}
nav ul li a
{
    color:white;
    display: flex;
    justify-content: space-between;
    text-decoration-color: yellow;
    padding: 10px 20px;
}
nav ul li a:hover{
    text-decoration:none;
}
.Image
{
    background-image:  linear-gradient( rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url("Office.jpg.jpg");
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    width:200%;
    height: 200vh;
}
.U
{
    color:white;
    text-align: center;
    position:absolute;
    top:50%;
    left:40%;
    align-content: center;
    transform: translateY(-50%);
}
.P
{
    color:white;
    text-align: center;
    position: absolute;
    top:55%;
    left:30%;
}
.btn {
   
    background-color: #000000;
  
   padding: 10px 20px;
  
 color: white;
  
   text-decoration: none;
  
  font-weight: bold;
  
  border-radius: 5px;
  position: absolute;
  top:500px;
  left:750px;

  }
  .btn:hover {

  background-color:orange;
     
     } 
     .Rectangle
     {
        width:0;
        height:0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom:100px solid red;
        margin:auto;
        margin-top:30px;
     } 
